body {
    background-color: #fff8f9;
    display: block;
    margin: auto; 
}
 


.footer {
  background-color:#FFF0F3;
  padding: 0;
  border: 1px solid #D898A4;
  font-size: 50%;
  text-align: center;
}

.footer {
	font-size: 90px;
  	font-family:'perpetua', serif;
        color: #D898A4;

}



.topnav {
  overflow: hidden;
  background-color: #FFF0F3;
  border: 1px solid #D898A4;
  
}

.topnav a {
  float: left; 
  display: block;
  color: #D898A4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
.topnav a:hover {
  background-color: #ddd;
  color: black;
  
}

article {
  position:absolute;
  float: center;
  padding: 10px;
  width: 50%;
  background-color: #ffffff91;
  height: 650px;
  border: 5px solid #D898A4;
  display: block;
  margin-left: 50px;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 30px;
}
     
     
.WALL {
    position: absolute;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 150px;
    margin-top: 50px;
}

h2 {
    position: absolute;
    left: 85px;
    padding: 90px;
  bottom: 0px;
    
}

@media only screen and (max-width: 143px) {
  .article {display: none;}

  .WALL {visibility: collapse;}
}
.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}

.planecolumn {
  position: absolute;
  top: 10px;
  font-weight: bold;
  position: relative;
  animation: myfirst 10s 3;
  animation-direction: alternate;
}

@keyframes myfirst {
  0%   {left: 100px; top: 100px;}
  25%  {left: 1500px; top: -20px;}
  50%  {left: -100px; top: -10px;}
  75%  {left: -50px; top: -100px;}
  100% {left: 0px; top: 100px;}
}




